.play-game-page {
  background-image: url("https://media.istockphoto.com/vectors/black-jack-table-vector-illustration-eps-10-casino-vector-id1147481668?k=20&m=1147481668&s=612x612&w=0&h=68xD3OZ-i8tXhrZ2LYNAsl_BrBYI0EzKzSMkbIv9mJs=");

  min-height: 43rem;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
